.card {
    cursor: pointer;

    .preview {
        width: 250px;
        height: 250px;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;

        .preview--img {
            object-fit: contain;
        }
    }

    .preview-wrap {
        width: 300px;
        height: 300px;
    }
}

.card:hover .preview {
    width: 300px;
    height: 300px;
}