.card {
    cursor: pointer;
    

    .preview {
        width: 50%;
        height: 50%;
        transition: transform 0.5s ease-in-out;
        .preview--img {
            object-fit: contain;
        }
    }
}

.card:hover .preview {
    transform: scale(1.1);
}